<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.apple.alfred.workflow.rsync-folders</string>
	<key>category</key>
	<string>Dev</string>
	<key>connections</key>
	<dict>
		<key>0FFA85AA-DBC9-4C03-86E6-EC2C0C63034F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>78A4CA56-EB82-49E5-B864-B7785F302268</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>200F326D-0329-4F35-A754-3BA8C9875C25</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EA9A65B5-FBD7-4B5D-8A69-0CC9CD2017AD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2989DB38-0EA7-4518-9295-F44265E7A353</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EA9A65B5-FBD7-4B5D-8A69-0CC9CD2017AD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2A2EA53F-6723-4B5E-893A-1D0A58DFBA0F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5AA1A9FD-1039-4E9A-B393-BD824984DBCF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>430DC473-DF94-4B22-BA7D-85F2749148E4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D71FD347-8255-45AE-BD43-76963428AC51</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>561445B8-E5D6-4AB5-9C0E-0C5B828580F8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F49DACAA-9991-41FC-B17A-2493F92ECB03</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5AA1A9FD-1039-4E9A-B393-BD824984DBCF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2989DB38-0EA7-4518-9295-F44265E7A353</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>67518518-A5CF-43A5-B141-81106FDB7B29</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4A4AC872-88D0-439A-9B51-F463348654EA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>69A56460-BCA0-4E7C-AC44-5B55E9640FEA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2A2EA53F-6723-4B5E-893A-1D0A58DFBA0F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7645B3DA-583E-47C2-83BA-DC4FD8432EEB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8FFAC222-2EF0-40E5-93E7-EA7DAD8A2819</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>414DA133-EE1A-4948-B836-D27FE240BB1C</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>DE49AD21-9430-4196-B3BA-383061F24A43</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>085C93F6-EB37-466E-83D9-37691EFA4974</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>69A56460-BCA0-4E7C-AC44-5B55E9640FEA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>372031D4-3146-4734-A343-E8BF68571421</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>CD4553E6-DF4D-4EBC-A37A-137DF801D01C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>78A4CA56-EB82-49E5-B864-B7785F302268</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6026C421-22D8-41D8-B3FA-41BC9CB1E077</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>2A63FF36-80E3-4833-9D36-BAE98A73624F</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>67518518-A5CF-43A5-B141-81106FDB7B29</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7F3CBA92-478D-4B9C-BBFF-8D43AD6006EF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D71FD347-8255-45AE-BD43-76963428AC51</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8FFAC222-2EF0-40E5-93E7-EA7DAD8A2819</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0FFA85AA-DBC9-4C03-86E6-EC2C0C63034F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>96FF18B1-25F2-4851-B9BC-8E0980B6A1BB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7645B3DA-583E-47C2-83BA-DC4FD8432EEB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>FFB2A598-38BA-49E3-AC49-6CE257276CCF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9C533762-4B08-4B26-B9A6-B4C0FEEC3513</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A488CAAE-6A5D-4A4B-82B1-81B20558C49A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A3B353DA-0C9D-4832-B0ED-8333ADDCA841</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6026C421-22D8-41D8-B3FA-41BC9CB1E077</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>2A63FF36-80E3-4833-9D36-BAE98A73624F</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F49DACAA-9991-41FC-B17A-2493F92ECB03</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A59377F6-960B-4E5D-BA12-69E3C3FCB139</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>96FF18B1-25F2-4851-B9BC-8E0980B6A1BB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B7553D66-32BA-4C0F-B449-8DA562FF1A56</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A3B353DA-0C9D-4832-B0ED-8333ADDCA841</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CD4553E6-DF4D-4EBC-A37A-137DF801D01C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B7553D66-32BA-4C0F-B449-8DA562FF1A56</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D71FD347-8255-45AE-BD43-76963428AC51</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>200F326D-0329-4F35-A754-3BA8C9875C25</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DE49AD21-9430-4196-B3BA-383061F24A43</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7F3CBA92-478D-4B9C-BBFF-8D43AD6006EF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EA9A65B5-FBD7-4B5D-8A69-0CC9CD2017AD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>561445B8-E5D6-4AB5-9C0E-0C5B828580F8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F49DACAA-9991-41FC-B17A-2493F92ECB03</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9C533762-4B08-4B26-B9A6-B4C0FEEC3513</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Acidham</string>
	<key>description</key>
	<string>Sync Source and Target folders</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>RSync Folders</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>*rsync</string>
				<key>passinputasargument</key>
				<false/>
				<key>passvariables</key>
				<false/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>6026C421-22D8-41D8-B3FA-41BC9CB1E077</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>exec_list.py</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Choose from list</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>0FFA85AA-DBC9-4C03-86E6-EC2C0C63034F</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>ADD</string>
						<key>outputlabel</key>
						<string>add</string>
						<key>uid</key>
						<string>2A63FF36-80E3-4833-9D36-BAE98A73624F</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>78A4CA56-EB82-49E5-B864-B7785F302268</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>8FFAC222-2EF0-40E5-93E7-EA7DAD8A2819</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query} file(s) transferred</string>
				<key>title</key>
				<string>Rsync</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>4A4AC872-88D0-439A-9B51-F463348654EA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>exec.py</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>67518518-A5CF-43A5-B141-81106FDB7B29</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>fixedorder</key>
				<true/>
				<key>items</key>
				<string>[{"imagefile":"ff97c1c91535ec0ce514a89771b42cb72a80054d.png","title":"Run","arg":"exec","subtitle":"Run sync setting"},{"imagefile":"6f9260d52d829403a16e01d6b359c4cffdb87011.png","title":"Add","arg":"add","subtitle":"Add sync setting"},{"imagefile":"6f9260d52d829403a16e01d6b359c4cffdb87011.png","title":"Search&amp;Add","arg":"search_add","subtitle":"Search  folder in Alfred and add"},{"imagefile":"39846b126735c587ac31ca23f095119cc81014f9.png","title":"Delete","subtitle":"Delete sync setting"}]</string>
				<key>keyword</key>
				<string>rsync</string>
				<key>matchmode</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string>sync Source to Target Folders</string>
				<key>title</key>
				<string>Rsync</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>96FF18B1-25F2-4851-B9BC-8E0980B6A1BB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<false/>
				<key>triggerid</key>
				<string>*rsync</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>A59377F6-960B-4E5D-BA12-69E3C3FCB139</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>exec</string>
						<key>outputlabel</key>
						<string>EXEC</string>
						<key>uid</key>
						<string>414DA133-EE1A-4948-B836-D27FE240BB1C</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>search_add</string>
						<key>outputlabel</key>
						<string>SEARCH_ADD</string>
						<key>uid</key>
						<string>085C93F6-EB37-466E-83D9-37691EFA4974</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>add</string>
						<key>outputlabel</key>
						<string>ADD</string>
						<key>uid</key>
						<string>372031D4-3146-4734-A343-E8BF68571421</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>DELETE</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>7645B3DA-583E-47C2-83BA-DC4FD8432EEB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>DE49AD21-9430-4196-B3BA-383061F24A43</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>add_item.py</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Name</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>561445B8-E5D6-4AB5-9C0E-0C5B828580F8</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemAlternateNames</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemFinderComment</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<true/>
				<key>limit</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>scopes</key>
				<array>
					<string>/</string>
				</array>
				<key>sortmode</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>Beginn typing to search for Source Folder</string>
				<key>title</key>
				<string>Source folder</string>
				<key>types</key>
				<array>
					<string>public.folder</string>
					<string>public.symlink</string>
				</array>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>7F3CBA92-478D-4B9C-BBFF-8D43AD6006EF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemAlternateNames</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemFinderComment</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<true/>
				<key>limit</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>scopes</key>
				<array>
					<string>/</string>
				</array>
				<key>sortmode</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>Begin typing to search for Target folder</string>
				<key>title</key>
				<string>Target Folder</string>
				<key>types</key>
				<array>
					<string>public.folder</string>
					<string>public.symlink</string>
				</array>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>200F326D-0329-4F35-A754-3BA8C9875C25</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>source</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>D71FD347-8255-45AE-BD43-76963428AC51</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>target</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>EA9A65B5-FBD7-4B5D-8A69-0CC9CD2017AD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<true/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<false/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>Add source folder for Rsync</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>430DC473-DF94-4B22-BA7D-85F2749148E4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>Add Source Path</string>
				<key>text</key>
				<string>Source Path</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2A2EA53F-6723-4B5E-893A-1D0A58DFBA0F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>Add Target Path</string>
				<key>text</key>
				<string>Target Path</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2989DB38-0EA7-4518-9295-F44265E7A353</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Rsync</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>9C533762-4B08-4B26-B9A6-B4C0FEEC3513</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>*rsync</string>
				<key>passinputasargument</key>
				<false/>
				<key>passvariables</key>
				<false/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>A488CAAE-6A5D-4A4B-82B1-81B20558C49A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>69A56460-BCA0-4E7C-AC44-5B55E9640FEA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>source</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>5AA1A9FD-1039-4E9A-B393-BD824984DBCF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>rsync_config.py</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F49DACAA-9991-41FC-B17A-2493F92ECB03</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>delete_item.py</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Delete Item</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>B7553D66-32BA-4C0F-B449-8DA562FF1A56</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>ADD</string>
						<key>outputlabel</key>
						<string>add</string>
						<key>uid</key>
						<string>2A63FF36-80E3-4833-9D36-BAE98A73624F</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>A3B353DA-0C9D-4832-B0ED-8333ADDCA841</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>CD4553E6-DF4D-4EBC-A37A-137DF801D01C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string># THESE VARIABLES MUST BE SET. SEE THE ONEUPDATER README FOR AN EXPLANATION OF EACH.
readonly remote_info_plist="https://raw.githubusercontent.com/Acidham/rsync-folders/master/src/info.plist"
readonly workflow_url="Acidham/rsync-folders"
readonly download_type='github_release'
readonly frequency_check='4'

# FROM HERE ON, CODE SHOULD BE LEFT UNTOUCHED!
function abort {
  echo "${1}" &gt;&amp;2
  exit 1
}

function url_exists {
  curl --silent --location --output /dev/null --fail --range 0-0 "${1}"
}

function notification {
  readonly local notificator="$(find . -type d -name 'Notificator.app')"
  if [[ -n "${notificator}" ]]; then
    "${notificator}/Contents/Resources/Scripts/notificator" --message "${1}" --title "${alfred_workflow_name}" --subtitle 'A new version is available'
    return
  fi

  readonly local terminal_notifier="$(find . -type f -name 'terminal-notifier')"
  if [[ -n "${terminal_notifier}" ]]; then
    "${terminal_notifier}" -title "${alfred_workflow_name}" -subtitle 'A new version is available' -message "${1}"
    return
  fi

  osascript -e "display notification \"${1}\" with title \"${alfred_workflow_name}\" subtitle \"A new version is available\""
}

# Local sanity checks
readonly local_info_plist='info.plist'
readonly local_version="$(/usr/libexec/PlistBuddy -c 'print version' "${local_info_plist}")"

[[ -n "${local_version}" ]] || abort 'You need to set a workflow version in the configuration sheet.'
[[ "${download_type}" =~ ^(direct|page|github_release)$ ]] || abort "'download_type' (${download_type}) needs to be one of 'direct', 'page', or 'github_release'."
[[ "${frequency_check}" =~ ^[0-9]+$ ]] || abort "'frequency_check' (${frequency_check}) needs to be a number."

# Check for updates
if [[ $(find "${local_info_plist}" -mtime +"${frequency_check}"d) ]]; then
  if ! url_exists "${remote_info_plist}"; then abort "'remote_info_plist' (${remote_info_plist}) appears to not be reachable."; fi # Remote sanity check

  readonly tmp_file="$(mktemp)"
  curl --silent --location --output "${tmp_file}" "${remote_info_plist}"
  readonly remote_version="$(/usr/libexec/PlistBuddy -c 'print version' "${tmp_file}")"

  if [[ "${local_version}" == "${remote_version}" ]]; then
    touch "${local_info_plist}" # Reset timer by touching local file
    exit 0
  fi

  if [[ "${download_type}" == 'page' ]]; then
    notification 'Opening download page…'
    open "${workflow_url}"
    exit 0
  fi

  download_url="$([[ "${download_type}" == 'github_release' ]] &amp;&amp; curl --silent "https://api.github.com/repos/${workflow_url}/releases/latest" | grep 'browser_download_url' | head -1 | sed -E 's/.*browser_download_url": "(.*)"/\1/' || echo "${workflow_url}")"

  if url_exists "${download_url}"; then
    notification 'Downloading and installing…'
    curl --silent --location --output "${HOME}/Downloads/${alfred_workflow_name}.alfredworkflow" "${download_url}"
    open "${HOME}/Downloads/${alfred_workflow_name}.alfredworkflow"
  else
    abort "'workflow_url' (${download_url}) appears to not be reachable."
  fi
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FFB2A598-38BA-49E3-AC49-6CE257276CCF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># Rsync Folders

Syncs Source and target folders from list of pre-defined source/target folder pairs.

## Usage

* `rsync` execute rsync definitions as well as remove entries</string>
	<key>uidata</key>
	<dict>
		<key>0FFA85AA-DBC9-4C03-86E6-EC2C0C63034F</key>
		<dict>
			<key>xpos</key>
			<real>645</real>
			<key>ypos</key>
			<real>110</real>
		</dict>
		<key>200F326D-0329-4F35-A754-3BA8C9875C25</key>
		<dict>
			<key>xpos</key>
			<real>885</real>
			<key>ypos</key>
			<real>280</real>
		</dict>
		<key>2989DB38-0EA7-4518-9295-F44265E7A353</key>
		<dict>
			<key>xpos</key>
			<real>890</real>
			<key>ypos</key>
			<real>560</real>
		</dict>
		<key>2A2EA53F-6723-4B5E-893A-1D0A58DFBA0F</key>
		<dict>
			<key>xpos</key>
			<real>640</real>
			<key>ypos</key>
			<real>555</real>
		</dict>
		<key>430DC473-DF94-4B22-BA7D-85F2749148E4</key>
		<dict>
			<key>xpos</key>
			<real>645</real>
			<key>ypos</key>
			<real>415</real>
		</dict>
		<key>4A4AC872-88D0-439A-9B51-F463348654EA</key>
		<dict>
			<key>xpos</key>
			<real>1150</real>
			<key>ypos</key>
			<real>160</real>
		</dict>
		<key>561445B8-E5D6-4AB5-9C0E-0C5B828580F8</key>
		<dict>
			<key>xpos</key>
			<real>1150</real>
			<key>ypos</key>
			<real>280</real>
		</dict>
		<key>5AA1A9FD-1039-4E9A-B393-BD824984DBCF</key>
		<dict>
			<key>xpos</key>
			<real>820</real>
			<key>ypos</key>
			<real>590</real>
		</dict>
		<key>6026C421-22D8-41D8-B3FA-41BC9CB1E077</key>
		<dict>
			<key>xpos</key>
			<real>1845</real>
			<key>ypos</key>
			<real>95</real>
		</dict>
		<key>67518518-A5CF-43A5-B141-81106FDB7B29</key>
		<dict>
			<key>xpos</key>
			<real>885</real>
			<key>ypos</key>
			<real>160</real>
		</dict>
		<key>69A56460-BCA0-4E7C-AC44-5B55E9640FEA</key>
		<dict>
			<key>xpos</key>
			<real>540</real>
			<key>ypos</key>
			<real>570</real>
		</dict>
		<key>7645B3DA-583E-47C2-83BA-DC4FD8432EEB</key>
		<dict>
			<key>xpos</key>
			<real>375</real>
			<key>ypos</key>
			<real>215</real>
		</dict>
		<key>78A4CA56-EB82-49E5-B864-B7785F302268</key>
		<dict>
			<key>xpos</key>
			<real>820</real>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>7F3CBA92-478D-4B9C-BBFF-8D43AD6006EF</key>
		<dict>
			<key>xpos</key>
			<real>645</real>
			<key>ypos</key>
			<real>280</real>
		</dict>
		<key>8FFAC222-2EF0-40E5-93E7-EA7DAD8A2819</key>
		<dict>
			<key>xpos</key>
			<real>540</real>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>96FF18B1-25F2-4851-B9BC-8E0980B6A1BB</key>
		<dict>
			<key>xpos</key>
			<real>185</real>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>9C533762-4B08-4B26-B9A6-B4C0FEEC3513</key>
		<dict>
			<key>xpos</key>
			<real>1690</real>
			<key>ypos</key>
			<real>565</real>
		</dict>
		<key>A3B353DA-0C9D-4832-B0ED-8333ADDCA841</key>
		<dict>
			<key>xpos</key>
			<real>805</real>
			<key>ypos</key>
			<real>700</real>
		</dict>
		<key>A488CAAE-6A5D-4A4B-82B1-81B20558C49A</key>
		<dict>
			<key>xpos</key>
			<real>1855</real>
			<key>ypos</key>
			<real>565</real>
		</dict>
		<key>A59377F6-960B-4E5D-BA12-69E3C3FCB139</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>B7553D66-32BA-4C0F-B449-8DA562FF1A56</key>
		<dict>
			<key>xpos</key>
			<real>645</real>
			<key>ypos</key>
			<real>680</real>
		</dict>
		<key>CD4553E6-DF4D-4EBC-A37A-137DF801D01C</key>
		<dict>
			<key>xpos</key>
			<real>545</real>
			<key>ypos</key>
			<real>710</real>
		</dict>
		<key>D71FD347-8255-45AE-BD43-76963428AC51</key>
		<dict>
			<key>xpos</key>
			<real>820</real>
			<key>ypos</key>
			<real>310</real>
		</dict>
		<key>DE49AD21-9430-4196-B3BA-383061F24A43</key>
		<dict>
			<key>xpos</key>
			<real>540</real>
			<key>ypos</key>
			<real>265</real>
		</dict>
		<key>EA9A65B5-FBD7-4B5D-8A69-0CC9CD2017AD</key>
		<dict>
			<key>xpos</key>
			<real>1075</real>
			<key>ypos</key>
			<real>310</real>
		</dict>
		<key>F49DACAA-9991-41FC-B17A-2493F92ECB03</key>
		<dict>
			<key>xpos</key>
			<real>1500</real>
			<key>ypos</key>
			<real>680</real>
		</dict>
		<key>FFB2A598-38BA-49E3-AC49-6CE257276CCF</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>note</key>
			<string>OneUpdater</string>
			<key>xpos</key>
			<real>645</real>
			<key>ypos</key>
			<real>935</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.4.1</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
